@import url('https://fonts.googleapis.com/css?family=Merienda+One|Open+Sans&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General Styles */

h1,h2,p {
  font-family:Arial, "Open Sans", Lora;
}


body {
  background-color: #ffff0a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/* Footer */
footer {
  background-color: aquamarine;
}

/* Feedback Area */
.section-4 {
  background-color: hsl(97, 86%, 61%);
}

h1, h2, h3 {
  text-align: center;
}

.navbar {
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  gap: 5px;
  
}

.heading-text {
  text-align: center;
}

.main-photo {
  padding-left: 20%;
}

.first-video {
  padding-left: 32%;
}
.second-video {
  padding-left: 32%;
}

.second-photo {
  padding-left: 34%;
}

.third-photo {
  padding-left: 36%;
}

.third-video {
  padding-left: 32%;
}

.section_2  p, li {
  text-align: center;
}

.forth-photo {
  padding-left: 25%;
}